<section id="benefits" class="benefits-section">
  <h2 class="benefits-title"><span>Benefits</span> of working with me</h2>

  <ul class="benefits-list">
    <!-- Верхний блок -->
    <li class="benefits-item expertise">
      <div class="benefits-icon benefits-icon-expertise"></div>
      <div class="benefits-text-wrapper">
        <h3 class="benefits-item-title">Expertise</h3>
        <p class="benefits-item-text">
          With extensive experience in development, I have a deep understanding of programming and website development.             
        </p>
      </div>
    </li>

    <!-- Три нижних блока -->
    <li class="benefits-item">
      <div class="benefits-icon benefits-icon-communication"></div>
      <div class="benefits-text-wrapper">
        <h3 class="benefits-item-title">Communication</h3>
        <p class="benefits-item-text">
          Understanding your needs and wants is my priority and I am always available for discussions and open to corrections.
        </p>
      </div>
    </li>

    <li class="benefits-item benefits-item-art">
      <div class="benefits-icon benefits-icon-art"></div>
      <div class="benefits-text-wrapper">
        <h3 class="benefits-item-title">Art</h3>
        <p class="benefits-item-text">
          Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.
        </p>
      </div>
    </li>

    <li class="benefits-item right-benefit">
      <div class="benefits-icon benefits-icon-urgent"></div>
      <div class="benefits-text-wrapper">
        <h3 class="benefits-item-title">Urgent Execution</h3>
        <p class="benefits-item-text">
          I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.
        </p>
      </div>
    </li>
  </ul>
</section>