<header class="header-page">
  <div class="container header-container">
    <nav class="navigation-header">
      <a class="nav-logo-header" href="./index.html"
        >Lloyd<span>Jefferson.</span></a
      >
      <button
        type="button"
        class="menu-toggle"
        id="menu-toggle"
        aria-label="Open menu"
      >
        <svg class="icon-header" width="32" height="32">
          <use href="./img/sprite.svg#icon-menu-button"></use>
        </svg>
      </button>
      <ul class="nav-link-header">
        <li class="nav-link-item-header">
          <a class="link-header" href="./index.html">About me</a>
        </li>
        <li class="nav-link-item-header">
          <a class="link-header" href="">Projects</a>
        </li>
        <li class="nav-link-item-header">
          <a class="link-header" href="">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
