<header class="header-page">
  <div class="container header-container">
    <nav class="navigation-header">
      <a class="nav-logo-header" href="./index.html"
        >Lloyd<span>Jefferson.</span></a>
      <svg class="header-icon" width="32" height="32">
        <use href="/src/img/sprite.svg#icon-menu-button"></use>
      </svg>
      <ul class="nav-link-header">
        <li class="nav-link-item-header">
          <a class="link-header" href="./index.html">About me</a>
        </li>
        <li class="nav-link-item-header">
          <a class="link-header" href="">Projects</a>
        </li>
        <li class="nav-link-item-header">
          <a class="link-header" href="">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
