<section class="hero" id="hero">
  <div class="container">
    <div class="hero-container">
      <div>
        <h1 class="title-hero">Hello, I am <span>Fullstack developer</span></h1>
        <button class="button-hero" type="button">
          <span class="icon-part">
            <svg class="hero-icon" width="28">
              <use href="./img/sprite.svg#icon-arrow-right"></use>
            </svg>
            Order the project</span
          >
          <span class="bg-part"></span>
        </button>
      </div>
      <div class="picture-container">
        <img
          class="image-hero"
          src="./img/hero-images/img-hero-optimized.jpg"
          srcset="./img/hero-images/img-hero-optimized-2x.jpg 2x"
          alt="developer"
          width="592"
        />
        <p class="hero-text">
          I work with people all over the world to create
          <span class="text-hero-style">impressive</span> and
          <span class="text-hero-style">functional websites</span> that reflect
          each client's unique personality.
        </p>
      </div>
    </div>

    <div class="contacts-hero">
      <ul class="hero-list">
        <li class="hero-list-item">
          <a
            class="hero-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >Instagram</a
          >
        </li>
        <li class="hero-list-item">
          <a
            class="hero-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >Facebook</a
          >
        </li>
        <li class="hero-list-item">
          <a
            class="hero-link"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            >Linkedin</a
          >
        </li>
        <li class="hero-list-item">
          <a
            class="hero-link"
            href="https://github.com/Tetiana-Polishchuk3/input-1st"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
