<section class="hero" id="hero">
  <div class="container">
    <div class="hero-container">
      <div>
        <h1 class="title-hero">Hello, I am <span>Fullstack developer</span></h1>
        <button class="button-hero" type="button">
          <span class="icon-part">
            <svg class="hero-icon" width="28">
              <use href="/src/img/sprite.svg#icon-arrow-right"></use>
            </svg>
            Order the project</span
          >
          <span class="bg-part"></span>
        </button>
      </div>
      <div>
        <img
          class="image-hero"
          src="/src/img/hero-images/variant-1-1280/img-optimized@1x.jpg"
          alt="developer"
          width="592"
        />
        <p class="hero-text">
          I work with people all over the world to create
          <span class="text-hero-style">impressive</span> and
          <span class="text-hero-style">functional websites</span> that reflect
          each client’s unique personality.
        </p>
      </div>
    </div>

    <div class="contacts-hero">
      <ul class="hero-list">
        <li class="hero-list-item">
          <a class="hero-link" href="" target="_blank">Instagram</a>
        </li>
        <li class="hero-list-item">
          <a class="hero-link" href="" target="_blank">Facebook</a>
        </li>
        <li class="hero-list-item">
          <a class="hero-link" href="" target="_blank">Linkedin</a>
        </li>
        <li class="hero-list-item">
          <a class="hero-link" href="" target="_blank">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</section>
