<div class="backdrop is-hidden" id="modalBackdrop">
  <div class="container modalContainer" role="dialog" aria-modal="true">
    <button class="iconClose" id="modalCloseBtn" aria-label="Close modal">
      <svg class="modal-svg" width="24" height="24">
        
      <use href="./img/sprite.svg#icon-cross"></use>


      </svg>
    </button>

    <div class="titleTextContainer">
      <h1 class="modalTitle">Thank you for your interest in cooperation!</h1>
      <p class="modalText">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
<div id="toast" class="toast hidden"></div>
