<section id="projects" class="projects">
  <div class="container">
    <h2 class="section-title">MY <span class="accent">PROJECTS</span></h2>
    <ul class="projects-grid">
      <li class="project-card">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/my-project/img_1@x1.jpg 1x,
              ./img/my-project/img_1@x2.jpg 2x
            "
          />
          <img
            src="./img/my-project/img_1@x1.jpg"
            alt="Скріншот вебсервісу Wallet webservice"
          />
        </picture>
        <p class="project-technologies">React, JavaScript, Node JS, Git</p>
        <div class="project-info">
          <h3 class="project-title">Wallet webservice</h3>
          <div class="project-wrapper">
            <a
              href="https://github.com/Tetiana-Polishchuk3/input-1st"
              target="_blank"
            >
              <button class="project-visit-button">
                VISIT
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                    stroke="#00B068"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="project-card">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/my-project/img_2@x1.jpg 1x,
              ./img/my-project/img_2@x2.jpg 2x
            "
          />
          <img
            src="./img/my-project/img_2@x1.jpg"
            alt="Скріншот вебсервісу Green Harvest webservice"
          />
        </picture>
        <p class="project-technologies">React, JavaScript, Node JS, Git</p>
        <div class="project-info">
          <h3 class="project-title">Green harvest webservice</h3>
          <div class="project-wrapper">
            <a
              href="https://github.com/Tetiana-Polishchuk3/input-1st"
              target="_blank"
            >
              <button class="project-visit-button">
                VISIT
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                    stroke="#00B068"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="project-card">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-project/img_3@x1.jpg 1x,
              /img/my-project/img_3@x2.jpg 2x
            "
          />
          <img
            src="/img/my-project/img_3@x1.jpg"
            alt="Скріншот вебсервісу English Excellence webservice"
          />
        </picture>
        <p class="project-technologies">React, JavaScript, Node JS, Git</p>
        <div class="project-info">
          <h3 class="project-title">English Excellence webservice</h3>
          <div class="project-wrapper">
            <a
              href="https://github.com/Tetiana-Polishchuk3/input-1st"
              target="_blank"
            >
              <button class="project-visit-button">
                VISIT
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                    stroke="#00B068"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="project-card" data-project-index="3" style="display: none">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-project/img_4@x1.jpg 1x,
              /img/my-project/img_4@x2.jpg 2x
            "
          />
          <img
            src="/img/my-project/img_4@x1.jpg"
            alt="Скріншот вебсервісу STARLIGHT STUDIO LANDING PAGE"
          />
        </picture>
        <div class="project-info">
          <h3 class="project-title">STARLIGHT STUDIO</h3>
          <div class="project-wrapper">
            <a
              href="https://github.com/Tetiana-Polishchuk3/input-1st"
              target="_blank"
            >
              <button class="project-visit-button">
                VISIT
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                    stroke="#00B068"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="project-card" data-project-index="4" style="display: none">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-project/img_5@x1.jpg 1x,
              /img/my-project/img_5@x2.jpg 2x
            "
          />
          <img
            src="/img/my-project/img_5@x1.jpg"
            alt="Скріншот вебсервісу ENERGY FLOW WEBSERVICE"
          />
        </picture>
        <div class="project-info">
          <h3 class="project-title">ENERGY FLOW</h3>
          <div class="project-wrapper">
            <a
              href="https://github.com/Tetiana-Polishchuk3/input-1st"
              target="_blank"
            >
              <button class="project-visit-button">
                VISIT
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                    stroke="#00B068"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="project-card" data-project-index="5" style="display: none">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-project/img_6@x1.jpg 1x,
              /img/my-project/img_6@x2.jpg 2x
            "
          />
          <img
            src="/img/my-project/img_6@x1.jpg"
            alt="Скріншот вебсервісу FRUITBOX ONLINE STORE"
          />
        </picture>
        <div class="project-info">
          <h3 class="project-title">FRUITBOX STORE</h3>
          <div class="project-wrapper">
            <a
              href="https://tetiana-polishchuk3.github.io/input-1st/"
              target="_blank"
            >
              <button class="project-visit-button">
                VISIT
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                    stroke="#00B068"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="project-card" data-project-index="6" style="display: none">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-project/img_7@x1.jpg 1x,
              /img/my-project/img_7@x2.jpg 2x
            "
          />
          <img
            src="/img/my-project/img_7@x1.jpg"
            alt="Скріншот вебсервісу CHEGO JEWELRY WEBSIT"
          />
        </picture>
        <div class="project-info">
          <h3 class="project-title">CHEGO JEWELRY</h3>
          <div class="project-wrapper">
            <a
              href="https://github.com/Tetiana-Polishchuk3/input-1st"
              target="_blank"
            >
              <button class="project-visit-button">
                VISIT
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                    stroke="#00B068"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="project-card" data-project-index="7" style="display: none">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-project/img_8@x1.jpg 1x,
              /img/my-project/img_8@x2.jpg 2x
            "
          />
          <img
            src="/img/my-project/img_8@x1.jpg"
            alt="Скріншот вебсервісу MIMINO WEBSITE"
          />
        </picture>
        <div class="project-info">
          <h3 class="project-title">MIMINO</h3>
          <div class="project-wrapper">
            <a
              href="https://github.com/Tetiana-Polishchuk3/input-1st"
              target="_blank"
            >
              <button class="project-visit-button">
                VISIT
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                    stroke="#00B068"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="project-card" data-project-index="8" style="display: none">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-project/img_9@x1.jpg 1x,
              /img/my-project/img_9@x2.jpg 2x
            "
          />
          <img
            src="/img/my-project/img_9@x1.jpg"
            alt="Скріншот вебсервісу VYSHYVANKA VIBES LANDING PAGE"
          />
        </picture>
        <div class="project-info">
          <h3 class="project-title">VYSHYVANKA VIBES</h3>
          <div class="project-wrapper">
            <a
              href="https://github.com/Tetiana-Polishchuk3/input-1st"
              target="_blank"
            >
              <button class="project-visit-button">
                VISIT
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                    stroke="#00B068"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="project-card" data-project-index="9" style="display: none">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-project/img_10@x1.jpg 1x,
              /img/my-project/img_10@x2.jpg 2x
            "
          />
          <img
            src="/img/my-project/img_10@x1.jpg"
            alt="Скріншот вебсервісу POWER PULSE WEBSERVICE"
          />
        </picture>
        <div class="project-info">
          <h3 class="project-title">POWER PULSE</h3>
          <div class="project-wrapper">
            <a
              href="https://github.com/Tetiana-Polishchuk3/input-1st"
              target="_blank"
            >
              <button class="project-visit-button">
                VISIT
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                    stroke="#00B068"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <button class="load-more-button">LOAD MORE</button>
  </div>
</section>
