<section id="projects" class="projects">
  <div class="container">
    <h2 class="section-title">MY <span class="accent">PROJECTS</span></h2>
    <ul class="projects-grid">
      <li class="project-card">
        <img src="./img/desc_tit_png_1.png" alt="Скріншот вебсервісу Wallet" />
        <p class="project-technologies">React, JavaScript, Node JS, Git</p>
        <div class="project-info">
          <h3 class="project-title">Wallet webservice</h3>
          <button class="project-visit-button">
            VISIT
            <svg width="16" height="16">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="project-card">
        <img
          src="./img/desc_tit_png_2.png"
          alt="Скріншот вебсервісу Green Harvest"
        />
        <p class="project-technologies">React, JavaScript, Node JS, Git</p>
        <div class="project-info">
          <h3 class="project-title">Green harvest webservice</h3>
          <button class="project-visit-button">
            VISIT
            <svg width="16" height="16">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="project-card">
        <img
          src="./img/desc_tit_png_3.png"
          alt="Скріншот вебсервісу English Excellence"
        />
        <p class="project-technologies">React, JavaScript, Node JS, Git</p>
        <div class="project-info">
          <h3 class="project-title">English Excellence webservice</h3>
          <button class="project-visit-button">
            VISIT
            <svg width="16" height="16">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
    <button class="load-more-button">LOAD MORE</button>
  </div>
</section>
