<section id="projects" class="projects">
  <div class="container">
    <h2 class="section-title">MY <span class="accent">PROJECTS</span></h2>
    <script>
      // Determine if we're on GitHub Pages
      const isGitHubPages = window.location.hostname.includes('github.io');
      const basePath = isGitHubPages ? '/input-1st' : '';

      // Function to update image paths
      function updateImagePaths() {
        const images = document.querySelectorAll('img[src^="../img"]');
        images.forEach(img => {
          const newSrc = img.src.replace('../img', `${basePath}/img`);
          img.src = newSrc;
        });

        const sources = document.querySelectorAll('source[srcset^="../img"]');
        sources.forEach(source => {
          const newSrcset = source.srcset.replace('../img', `${basePath}/img`);
          source.srcset = newSrcset;
        });
      }

      // Update paths when DOM is loaded
      document.addEventListener('DOMContentLoaded', updateImagePaths);
    </script>
    <ul class="projects-grid">
      <li class="project-card">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/my-project/img_1@x1.jpg 1x,
              ../img/my-project/img_1@x2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/my-project/img_1@x1.jpg 1x,
              ../img/my-project/img_1@x2.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/my-project/img_1@x1.jpg 1x,
              ../img/my-project/img_1@x2.jpg 2x
            "
          />
          <img
            src="../img/my-project/img_1@x1.jpg"
            alt="Скріншот вебсервісу Green Harvest"
          />
        </picture>

        <p class="project-technologies">React, JavaScript, Node JS, Git</p>
        <div class="project-info">
          <h3 class="project-title">Wallet webservice</h3>
          <a
            href="https://tetiana-polishchuk3.github.io/input-1st/"
            target="_blank"
          >
            <button class="project-visit-button">
              VISIT

              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                  stroke="#00B068"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </a>
        </div>
      </li>
      <li class="project-card">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/my-project/img_2@x1.jpg 1x,
              ../img/my-project/img_2@x2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/my-project/img_2@x1.jpg 1x,
              ../img/my-project/img_2@x2.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/my-project/img_2@x1.jpg 1x,
              ../img/my-project/img_2@x2.jpg 2x
            "
          />
          <img
            src="../img/my-project/img_2@x1.jpg"
            alt="Скріншот вебсервісу Green Harvest"
          />
        </picture>

        <p class="project-technologies">React, JavaScript, Node JS, Git</p>
        <div class="project-info">
          <h3 class="project-title">Green harvest webservice</h3>
          <a
            href="https://tetiana-polishchuk3.github.io/input-1st/"
            target="_blank"
            ><button class="project-visit-button">
              VISIT

              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                  stroke="#00B068"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg></button
          ></a>
        </div>
      </li>
      <li class="project-card">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/my-project/img_3@x1.jpg 1x,
              ../img/my-project/img_3@x2.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/my-project/img_3@x1.jpg 1x,
              ../img/my-project/img_3@x2.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/my-project/img_3@x1.jpg 1x,
              ../img/my-project/img_3@x2.jpg 2x
            "
          />
          <img
            src="../img/my-project/img_3@x1.jpg"
            alt="Скріншот вебсервісу English Excellence"
          />
        </picture>
        <p class="project-technologies">React, JavaScript, Node JS, Git</p>
        <div class="project-info">
          <h3 class="project-title">English Excellence webservice</h3>
          <a
            href="https://tetiana-polishchuk3.github.io/input-1st/"
            target="_blank"
            ><button class="project-visit-button">
              VISIT

              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.75 19.25L19.25 4.75M19.25 4.75H5.75M19.25 4.75V18.25"
                  stroke="#00B068"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </a>
        </div>
      </li>
    </ul>
    <button class="load-more-button">LOAD MORE</button>
  </div>
</section>
