<!-- <section class="container reviews-section">
  <h2 class="reviews-title">REVIEWS</h2>
  <div class="reviews-wrapper">
    <ul class="reviews-list"></ul>
  </div>
    Навігаційні кнопки -->
<!-- <button class="swiper-button-prev" aria-label="Previous slide"></button>
      <button class="swiper-button-next" aria-label="Next slide"></button>
    </div>

    <div class="fallback-text" hidden>Not found</div>
  </div>
</section> -->

<!-- <section class="container reviews-section">
  <h2 class="reviews-title">REVIEWS</h2>
  <div class="reviews-wrapper">
    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper">
        < JS вставить слайди -->
<!-- </div> -->

<!-- Навігаційні кнопки -->
<!-- <button class="swiper-button-prev" aria-label="Previous slide"></button>
      <button class="swiper-button-next" aria-label="Next slide"></button>
    </div>

    <div class="fallback-text" hidden>Not found</div>
  </div>
</section> -->

<section class="container reviews-section" id="reviews">
  <h2 class="reviews-title">REVIEWS</h2>
  <div class="reviews-wrapper">
    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper">
        <!-- Динамічно вставляються слайди -->
      </div>

      <div class="reviews-navigation">
        <button class="swiper-button-prev" aria-label="Previous slide"></button>
        <button class="swiper-button-next" aria-label="Next slide"></button>
      </div>
    </div>

    <div class="fallback-text" hidden>Not found</div>
  </div>
</section>
