<section class="tech-skills" id="tech-skills">
  <div class="container ts-container" id="ts">
    <h2 class="visually-hidden">Tech skills</h2>
    <div class="running-ts">
      <div class="running-ts-inner">
        <div class="running-ts-line">
          <span class="skill">HTML/CSS</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-1 8.74228e-08 8.74228e-08 1 16 8)"
              fill="#00B068"
            />
          </svg>
          <span class="skill">JavaScript</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-1 8.74228e-08 8.74228e-08 1 16 8)"
              fill="#00B068"
            />
          </svg>
          <span class="skill">React</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-1 8.74228e-08 8.74228e-08 1 16 8)"
              fill="#00B068"
            />
          </svg>
          <span class="skill">Node.js</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-1 8.74228e-08 8.74228e-08 1 16 8)"
              fill="#00B068"
            />
          </svg>
          <span class="skill">React Native</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-1 8.74228e-08 8.74228e-08 1 16 8)"
              fill="#00B068"
            />
          </svg>
          <span class="skill">TypeScript</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-1 8.74228e-08 8.74228e-08 1 16 8)"
              fill="#00B068"
            />
          </svg>
        </div>
        <div class="running-ts-line">
          <span class="skill">HTML/CSS</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-1 8.74228e-08 8.74228e-08 1 16 8)"
              fill="#00B068"
            />
          </svg>
          <span class="skill">JavaScript</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-1 8.74228e-08 8.74228e-08 1 16 8)"
              fill="#00B068"
            />
          </svg>
          <span class="skill">React</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-1 8.74228e-08 8.74228e-08 1 16 8)"
              fill="#00B068"
            />
          </svg>
          <span class="skill">Node.js</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-1 8.74228e-08 8.74228e-08 1 16 8)"
              fill="#00B068"
            />
          </svg>
          <span class="skill">React Native</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-1 8.74228e-08 8.74228e-08 1 16 8)"
              fill="#00B068"
            />
          </svg>
          <span class="skill">TypeScript</span>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-1 8.74228e-08 8.74228e-08 1 16 8)"
              fill="#00B068"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="running-ts second-line">
      <div class="running-ts-inner">
        <div class="running-ts-line opposite">
          <span class="skill green">HTML/CSS</span>
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 17.2812 8.89844)"
              fill="#292929"
            />
          </svg>
          <span class="skill green">JavaScript</span>
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 17.2812 8.89844)"
              fill="#292929"
            />
          </svg>
          <span class="skill green">React</span>
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 17.2812 8.89844)"
              fill="#292929"
            />
          </svg>
          <span class="skill green">Node.js</span>
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 17.2812 8.89844)"
              fill="#292929"
            />
          </svg>
          <span class="skill green">React Native</span>
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 17.2812 8.89844)"
              fill="#292929"
            />
          </svg>
          <span class="skill green">TypeScript</span>
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 17.2812 8.89844)"
              fill="#292929"
            />
          </svg>
        </div>
        <div class="running-ts-line opposite">
          <span class="skill green">HTML/CSS</span>
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 17.2812 8.89844)"
              fill="#292929"
            />
          </svg>
          <span class="skill green">JavaScript</span>
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 17.2812 8.89844)"
              fill="#292929"
            />
          </svg>
          <span class="skill green">React</span>
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 17.2812 8.89844)"
              fill="#292929"
            />
          </svg>
          <span class="skill green">Node.js</span>
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 17.2812 8.89844)"
              fill="#292929"
            />
          </svg>
          <span class="skill green">React Native</span>
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 17.2812 8.89844)"
              fill="#292929"
            />
          </svg>
          <span class="skill green">TypeScript</span>
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              width="8"
              height="8"
              rx="2"
              transform="matrix(-0.999391 -0.0348994 -0.0348994 0.999391 17.2812 8.89844)"
              fill="#292929"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
