<section class="tech-skills" id="tech-skills">
  <div class="container ts-container" id="ts">
    <h2 class="visually-hidden">Tech skills</h2>
    <div class="running-ts">
      <div class="running-ts-inner">
        <div class="running-ts-line">
          <span class="skill">HTML/CSS</span>
          <svg class="ts-icon-green" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-green"></use>
          </svg>
          <span class="skill">JavaScript</span>
          <svg class="ts-icon-green" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-green"></use>
          </svg>
          <span class="skill">React</span>
          <svg class="ts-icon-green" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-green"></use>
          </svg>
          <span class="skill">Node.js</span>
          <svg class="ts-icon-green" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-green"></use>
          </svg>
          <span class="skill">React Native</span>
          <svg class="ts-icon-green" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-green"></use>
          </svg>
          <span class="skill">TypeScript</span>
          <svg class="ts-icon-green" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-green"></use>
          </svg>
        </div>
        <div class="running-ts-line">
          <span class="skill">HTML/CSS</span>
          <svg class="ts-icon-green" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-green"></use>
          </svg>
          <span class="skill">JavaScript</span>
          <svg class="ts-icon-green" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-green"></use>
          </svg>
          <span class="skill">React</span>
          <svg class="ts-icon-green" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-green"></use>
          </svg>
          <span class="skill">Node.js</span>
          <svg class="ts-icon-green" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-green"></use>
          </svg>
          <span class="skill">React Native</span>
          <svg class="ts-icon-green" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-green"></use>
          </svg>
          <span class="skill">TypeScript</span>
          <svg class="ts-icon-green" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-green"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="running-ts second-line">
      <div class="running-ts-inner">
        <div class="running-ts-line opposite">
          <span class="skill green">HTML/CSS</span>
          <svg class="ts-icon-black" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-black"></use>
          </svg>
          <span class="skill green">JavaScript</span>
          <svg class="ts-icon-black" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-black"></use>
          </svg>
          <span class="skill green">React</span>
          <svg class="ts-icon-black" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-black"></use>
          </svg>
          <span class="skill green">Node.js</span>
          <svg class="ts-icon-black" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-black"></use>
          </svg>
          <span class="skill green">React Native</span>
          <svg class="ts-icon-black" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-black"></use>
          </svg>
          <span class="skill green">TypeScript</span>
          <svg class="ts-icon-black" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-black"></use>
          </svg>
        </div>
        <div class="running-ts-line opposite">
          <span class="skill green">HTML/CSS</span>
          <svg class="ts-icon-black" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-black"></use>
          </svg>
          <span class="skill green">JavaScript</span>
          <svg class="ts-icon-black" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-black"></use>
          </svg>
          <span class="skill green">React</span>
          <svg class="ts-icon-black" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-black"></use>
          </svg>
          <span class="skill green">Node.js</span>
          <svg class="ts-icon-black" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-black"></use>
          </svg>
          <span class="skill green">React Native</span>
          <svg class="ts-icon-black" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-black"></use>
          </svg>
          <span class="skill green">TypeScript</span>
          <svg class="ts-icon-black" width="24" height="24">
            <use href="img/sprite.svg#icon-dot-ts-black"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
