<section id="contact">
    <div class="contact-left">
        <h2><strong>LET’S</strong> <span>WORK</span><span>TOGETHER</span></h2>
        <p>Contact me to transform your ideas into exceptional solutions.</p>
        <div class="contact-info">
            <div><svg>...</svg> +38 090 456 78 90</div>
            <div><svg>...</svg> lloydjefferson@gmail.com</div>
            <div><svg>...</svg> USA, New York</div>
        </div>
    </div>

    <div class="contact-right">
        <form action="#">
            <input type="email" placeholder="Your email*" required />
            <textarea placeholder="Message" required></textarea>
            <button type="submit">SEND MESSAGE</button>
        </form>
    </div>
</section>