<section id="contact" class="contact-section">
    <div class="contact-left">
        <h2 class="contact-heading">
            <strong>LET’S</strong>
            <span>WORK</span>
            <span>TOGETHER</span>
        </h2>
        <p class="contact-description">Contact me to transform your ideas into exceptional solutions.</p>
        <div class="contact-info">
            <div class="contact-item">
                <svg class="icon" width="32" height="32">
                    <use href="img/sprite.svg#icon-phone"></use>
                </svg>
                +38 090 456 78 90
            </div>
            <div class="contact-item">
                <svg class="icon" width="44" height="32">
                    <use href="img/sprite.svg#icon-post"></use>
                </svg>
                lloydjefferson@gmail.com
            </div>
            <div class="contact-item">
                <svg class="icon" width="32" height="32">
                    <use href="img/sprite.svg#icon-gps"></use>
                </svg>
                USA, New York
            </div>
        </div>
    </div>
    <div class="contact-right">
        <form class="contact-form" action="#">
            <input class="contact-input" type="email" placeholder="Your email*" required />
            <textarea class="contact-textarea" placeholder="Message" required></textarea>
            <button class="contact-button" type="submit">SEND MESSAGE</button>
        </form>
    </div>
</section>