.about-me-title {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23077;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;

    margin-top: 80px;
    margin-bottom: 40px;
}
.about-me-title span {
    color: #00b068;
}
.about-me-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #292929;

        margin-bottom: 32px;
}
.about-me-text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: #292929;
}
.about-me-image {
    border-radius: 16px;
    margin-bottom: 40px;
}
.about-me-bio {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
}
.about-me-ul {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-left: 32px;
    margin-bottom: 40px;
}
.about-me-ul li {
    position: relative;
    
}
.about-me-ul li::before {
    content: '';
        position: absolute;
        left: -32px;
        top: 0;
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Crect%20width%3D%224%22%20height%3D%224%22%20rx%3D%221%22%20transform%3D%22matrix(-1%208.74228e-08%208.74228e-08%201%2014%2010)%22%20fill%3D%22%2300B068%22/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
}