.about-me-title {
    font-family: "Impact", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.23077;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;

    margin-top: 80px;
    margin-bottom: 40px;
}
.about-me-title span {
    color: #00b068;
}
.about-me-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #292929;

        margin-bottom: 32px;
}
.about-me-text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: #292929;
}
.about-me-image {
    border-radius: 16px;
    margin-bottom: 40px;
}
.about-me-bio {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
}
.about-me-ul {
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-left: 32px;
    margin-bottom: 40px;
}
.about-me-ul li {
    position: relative;
}
.custom-list li::before {
    content: '';
        position: absolute;
        left: 24px;
        top: 0;
        width: 24px;
        height: 24px;
        background-image: url('');
        background-size: contain;
        background-repeat: no-repeat;
}