@font-face {
  font-family: 'ImpactCustom';
  src: url('../fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background: #f0f0f0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
