/* Секція Benefits */
.benefits-section {
  margin: 80px auto 80px;
}
/* Заголовок */
.benefits-title {
  font-family: Impact;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 40px;
}

.benefits-title span {
  color: var(--span-text-color);
}

/* Список переваг */
.benefits-list {
  display: flex;
  gap: 32px;
  flex-direction: column;
  list-style: none;
}
.benefits-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
}

.benefits-icon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: var(--light-green);
}
.benefits-icon-expertise {
  background-image: url('../img/benefits/Expertise.svg');
}
.benefits-icon-communication {
  background-image: url('../img/benefits/Communication.svg');
}
.benefits-icon-art {
  background-image: url('../img/benefits/Art.svg');
}
.benefits-icon-urgent {
  background-image: url('../img/benefits/Urgents.svg');
}
.benefits-item-title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: var(--main-text-color);
}
.benefits-item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--main-text-color);
}
/* ======= TABLET ======= */
@media (min-width: 768px) {
  .benefits-section {
    margin: 44px 0 124px;
  }
  .benefits-title {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .benefits-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 32px;
  }
  .benefits-item {
    width: 336px;
  }
  
  .benefits-item-title {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.5px;
  }

  .expertise {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .benefits-item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .benefits-item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .right-benefit {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

/* ======= DESKTOP ======= */

@media (min-width: 1280px) {
  .benefits-section {
    margin: 44px 0 164px;
    
  }
.benefits-title {
  width: 686px;
}
.benefits-container {
  height: 676px;
  position: relative;
  
  }
.benefits-item {
  width: 384px;
}
  .benefits-decor {
    position: absolute;
    top: 276px;
    left: 32px;
    background-image: image-set(url('../img/benefits/benefits-bg@1x.png') 1x,
          url('../img/benefits/benefits-bg@2x.png') 2x);
      background-repeat: no-repeat;
      background-position: right 0px bottom 384px;
      background-size: auto;
  }

  .benefits-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }

  .expertise {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .benefits-item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .benefits-item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .right-benefit {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}
