.header-page {
  position: relative;
}

.navigation-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 108px;
  padding: 20px 0;
}
.nav-link-header {
  display: none;
}
.nav-logo-header {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #292929;
}
.nav-logo-header span {
  color: #00b068;
}
.menu-toggle {
  border: none;
}
.icon-header {
  display: flex;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: #292929;
  fill: #292929;
}
@media screen and (min-width: 768px) {
  .navigation-header {
    gap: 166px;
    padding: 32px 0;
  }
  .nav-logo-header {
    font-size: 32px;
    letter-spacing: 0.05em;
  }

  .icon-header {
    display: none;
  }
  .nav-link-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    white-space: nowrap;
  }
  .link-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #292929;
  }
  .link-header:hover,
  .link-header:focus {
    color: #00b068;
  }
}

@media screen and (min-width: 1280px) {
  .navigation-header {
    gap: 437px;
    padding: 36px 0;
  }
}
