.hero {
  background-image: url('../img/hero-images/decor-bg-mobile-optimized.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title-hero {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  width: 100%;
  margin-top: 96px;
  margin-bottom: 40px;
}
.title-hero span {
  color: var(--span-text-color);
}
.button-hero {
  display: inline-flex;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  overflow: hidden;
  border-radius: 16px;
  border: none;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  height: 92px;
  width: 320px;
  margin-bottom: 40px;
}
.icon-part {
  z-index: 2;
  padding: 0 32px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.hero-icon {
  display: inline-block;
  width: 2em;
  height: 1em;
  stroke-width: 0;
  fill: var(--span-text-color);
  stroke: var(--span-text-color);
}

.bg-part {
  background-color: #bcdfd1;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 16px;
  border: none;
  z-index: 1;
}
.bg-part:hover,
.bg-part:focus {
  background-color: var(--hover-green);
}

.image-hero {
  display: none;
}
.hero-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.text-hero-style {
  color: var(--span-text-color);
}
.contacts-hero {
  background-color: var(--accent-background-color);
  margin-top: 56px;
  padding: 32px 0;
}
.hero-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.hero-list-item:hover,
.hero-list-item:focus {
  color: var(--hover-green);
}
@media screen and (max-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero-images/decor-bg-mobile-optimized-2x.webp');
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url('../img/hero-images/decor-bg-tablet-optimized.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .title-hero {
    font-size: 124px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-top: 72px;
    margin-bottom: 60px;
  }
  .button-hero {
    height: 96px;
    width: 416px;
    font-size: 20px;
  }
  .bg-part {
    width: 60%;
  }
  .contacts-hero {
    margin-top: 104px;
    padding: 0;
  }
  .hero-list {
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero-images/decor-bg-tablet-optimized-2x.webp');
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    background-image: url('../img/hero-images/decor-bg-desktop-optimized.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 72px;
  }
  .button-hero {
    margin-bottom: 80px;
  }

  .title-hero {
    width: 552px;
    margin-top: 88px;
    margin-bottom: 80px;
  }
  .contacts-hero {
    margin-top: 0;
  }
  .image-hero {
    display: block;
    margin-bottom: 80px;
    border-radius: 32px;
  }

  .hero-text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url('../img/hero-images/decor-bg-desktop-optimized-2x.webp');
  }
}
