.reviews-title {
  font-family: 'Impact', sans-serif;
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 1.8px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #292929;
}

.reviews-wrapper {
  position: relative;
}

.review-author {
  display: flex;
  gap: 12px;
  align-items: center;
  /* margin-top: 24px; */
}
.author-avatar {
  width: 40px;
  border-radius: 50px;
}

.swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e4e5e6;
  border-radius: 16px;
  padding: 32px;
  min-height: 296px;
  max-height: 296px;
  height: 100%;
  max-width: 320px;
  letter-spacing: 0.03em;
  /* line-height: 0.03em; */
  /* overflow: hidden;
  text-overflow: ellipsis; */
  /* flex-shrink: 0; */
}

.review-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.review-author-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.reviews-wrapper .reviews-swiper {
  display: flex;
  column-gap: 4px;
}

.reviews-navigation {
  display: flex;
  gap: 16px;
  position: absolute;
  right: 48px;
  bottom: -40px;
}
.reviews-navigation .swiper-button-prev,
.reviews-navigation .swiper-button-next {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  width: 40px;
  height: 40px;
  padding: 12px;
  border: 1px solid var(#292929);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #e4e5e6;
}

/* Прибрати дефолтні стрілки Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.reviews-navigation .button-svg {
  /* display: block; */
  fill: none;
  stroke: #292929;
}

.button-rotate {
  transform: rotate(180deg);
}

.fallback-text {
  text-align: center;
  font-size: 24px;
  padding: 40px;
  color: #777;
}

@media only screen and (min-width: 768px) {
  .reviews-title {
    font-size: 108px;
    margin-bottom: 60px;
  }

  .swiper-wrapper .swiper-slide {
    max-width: 704px;
    min-height: 224px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-title {
    margin-bottom: 80px;
  }

  .reviews-navigation .swiper-button-prev,
  .reviews-navigation .swiper-button-next {
    width: 48px;
    height: 48px;
  }

  .reviews-navigation {
    gap: 24px;
  }
}
