.reviews-title {
  font-family: 'Impact', sans-serif;
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 1.8px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #292929;
}

.reviews-wrapper {
  position: relative;
}

.review-author {
  display: flex;
  gap: 12px;
  align-items: center;
  /* margin-top: 24px; */
}
.author-avatar {
  width: 40px;
  border-radius: 50px;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e4e5e6;
  border-radius: 16px;
  padding: 32px;
  min-height: 296px;
  height: 100%;
}

.review-text {
  /* ??? */
  font-size: 16px;
  line-height: 24px;
  /* height: 168px; */
  /* margin-bottom: 24px;
  padding: 32px; */
}

.reviews-wrapper .reviews-swiper {
  display: flex;
  column-gap: 4px;
}

.reviews-navigation {
  display: flex;
  gap: 24px; /* 24px відстань між кнопками */
  position: absolute;
  right: 34px;
  bottom: -40px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  /* background-color: #fff;
  border: 1px solid #d1d5db; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* transition: background-color 0.3s, opacity 0.3s; */
}

/* При наведенні */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #f3f4f6;
}

/* Прибрати дефолтні стрілки Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.reviews-navigation .button-svg {
  fill: none;
  stroke: #292929;
  width: 44px;
  height: 44px;
}
.button-rotate {
  transform: rotate(180deg);
}

.fallback-text {
  /* ??? */
  text-align: center;
  font-size: 24px;
  padding: 40px;
  color: #777;
}

@media only screen and (min-width: 768px) {
  .reviews-title {
    font-size: 108px;
    margin-bottom: 60px;
  }

  .swiper-slide {
    max-width: 704px;
    min-height: 224px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-title {
    margin-bottom: 80px;
  }
}
