.reviews-title {
  font-family: 'Impact', sans-serif;
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 63.96px;
  text-transform: uppercase;
  color: var (--main-text-color);
  margin-bottom: 40px;
}

.reviews-wrapper {
  position: relative;
}

.review-author {
  display: flex;
  gap: 16px;
  align-items: center;
}

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 24px;
}

.swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--accent-background-color);
  border-radius: 16px;
  padding: 32px;
  min-height: 320px;
  max-height: 320px;
  height: 100%;
  max-width: 320px;
  letter-spacing: 0.03em;
}

.review-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.review-author-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.reviews-wrapper .reviews-swiper {
  display: flex;
  column-gap: 4px;
}

.reviews-navigation {
  display: flex;
  gap: 16px;
  position: absolute;
  right: 50px;
  bottom: -40px;
  transform: rotate(180deg);
}

.reviews-navigation .swiper-button-prev,
.reviews-navigation .swiper-button-next {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  /* padding: 8px; */
  border: 1px solid var(--main-text-color);
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--grey-background-color);
}

/* Прибрати дефолтні стрілки Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.reviews-navigation .button-svg {
  fill: none;
  stroke: var(--main-text-color);
}

.button-rotate {
  transform: rotate(180deg);
}

.fallback-text {
  text-align: center;
  font-size: 24px;
  padding: 40px;
  color: var(--secondary-text-color);
}

@media only screen and (min-width: 768px) {
  .reviews-title {
    letter-spacing: 0.02em;
    font-size: 108px;
    line-height: 124.2px;
    margin-bottom: 60px;
  }

  .swiper-wrapper .swiper-slide {
    max-width: 704px;
    min-height: 224px;
  }
}

@media only screen and (min-width: 1280px) {
  .reviews-title {
    margin-bottom: 80px;
  }

  .reviews-navigation .swiper-button-prev,
  .reviews-navigation .swiper-button-next {
    width: 48px;
    height: 48px;
  }

  .reviews-navigation {
    gap: 24px;
  }

  .reviews-navigation {
    right: 56px;
  }
}
