.tech-skills {
  margin-top: 80px;
}
#ts {
  max-width: 100%;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.running-ts {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: var(--light-green);
}
.second-line {
  background-color: var(--accent-background-color);
  transform: rotate(2deg);
}
.running-ts-inner {
  display: flex;
}
.green {
  color: var(--span-text-color);
}
.running-ts-line {
  flex-shrink: 0;
  margin: 0;
  padding: 32px 8px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: techSkillsLine;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.opposite {
  animation-name: techSkillsLineOpposite;
}
@keyframes techSkillsLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
@keyframes techSkillsLineOpposite {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
@media only screen and (min-width: 768px) {
  .running-ts {
    line-height: 1.33333;
    letter-spacing: 0.01em;
  }
  .running-ts-line {
    padding: 40px 8px;
  }
}
